.hotel-searh{
  background-color: $bg-header;
  padding: 33px 0 50px;
}
.hotel-search__title{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: $text-color-basic;
  text-align: center;
  margin: 0 0 35px 0;
}
.hotel-search__caption{
  @include reset_tag-styles;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: $text-color-basic;
  text-transform: uppercase;
  width: 310px;
  margin-bottom: 27px;
}
.hotel-searh__button{
  width: 280px;
  height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-color-menu-mob;
}
