
$bg-page: #E7E5E5;
$bg-header: #fff;
$bg-figure: #94dce2;
$text-color-menu-mob: #fff;
$text-color-basic: #000;
$text-color-caption: #333333;
$basic-light-color: #81B3D2;
$basic-light-color-hover: #669EC0;
$caption--card-hover: #EAEAEA;
$basic-light-color-active: #5496BD;
$bg-advant-child: #eee;
$text-color-child: #fff;
$color-active: #766357;
$bg-field: #F2F2F2;
$bg-icon-form: #E5E5E5;
$bg-field-focus: #D5D5D5;
